<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      3D运输实验过程
    </li>
    <li class="active">托运任务受理</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      托运任务受理
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="timeline-container">
        <div class="timeline-label">
          <span class="label label-primary arrowed-in-right label-lg">
            <b>托运任务受理流程</b>
          </span>
        </div>

        <div class="timeline-items">
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-tasks btn btn-primary no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  选取托运任务
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-pencil btn btn-success no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  商务洽谈及合同签订
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-ok btn btn-default no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  系统评分
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.timeline-items -->
      </div>
    </div>
  </div>
</div>