<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      <a href="/bank">理论回顾</a>
    </li>
    <li class="active">习题编辑</li>
  </ul>
</div>

<div class="page-content" ng-app="myApp" ng-controller="myCtrl">
  <div class="page-header">
    <h1>
      理论回顾
      <small>
        <i class="icon-double-angle-right"></i>
        习题编辑
      </small>
    </h1>
  </div>
  <div class="row edit-content">
    <div class="col-xs-12">
      <div class="edit-info">
        <div class="detail-content">
          <form class="form-horizontal" name="myForm" novalidate>
            <div class="form-group">
              <label class="col-sm-2 control-label">所属系统</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="model.selectedSystem" ng-options="system as system.systemName for system in model.systemList" ng-change="onSystemChange()"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">习题类型</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="model.selectedExercisesType" ng-options="exercisesType as exercisesType.exercisesTypeName for exercisesType in model.exercisesTypeList"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">所属课程</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="model.selectedCourse" ng-options="course as course.courseName for course in model.courseList"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">所属知识点</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="model.selectedKnowledge" ng-options="knowledge as knowledge.knowledgeName for knowledge in model.knowledgeList"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">实验类型</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="model.selectedExperimentType" ng-options="experimentType as experimentType.experimentTypeName for experimentType in model.experimentTypeList"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">习题</label>
              <div class="col-sm-10">
                <textarea class="form-control" maxlength="500" id="exercisesContent" name="exercisesContent" ng-model="model.exercisesContent" required placeholder=""></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a href="/knowledge" class="btn btn-default"><i class="icon-reply"></i>返回</a>
                <button type="button" class="btn btn-success" ng-disabled="model.selectedSystem.systemID == 0 ||
                                                                            model.selectedExercisesType.exercisesTypeID == 0 ||
                                                                            model.selectedCourse.courseID == 0 ||
                                                                            model.selectedKnowledge.knowledgeID == 0 ||
                                                                            model.selectedExperimentType.experimentTypeID == 0" ng-click="onSubmit()">
                  <i class="icon-save"></i>提交
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" value="{{exercisesID}}" id="hidden-exercisesID">
</div>

<script src="/javascripts/view/exercisesEdit.js"></script>