<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      3D仓储系统认知
    </li>
    <li class="active">实验目的</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      实验目的
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>


  <div class="space-6"></div>
  <div class="row">
    <div class="col-xs-12">
      <article class="article">
        <h1>3D仓储管理系统实验要求</h1>
        <div class="space-8"></div>
        <p>（1）理解仓储管理的内涵；</p>
        <p>（2）掌握3D仓储管理实验操作的各个流程；</p>
        <p>（3）熟悉3D仓储虚拟仿真的现实运作场景。</p>

      </article>
    </div>
  </div>

</div>