<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      3D运输系统认知
    </li>
    <li class="active">实验目的</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      实验目的
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>


  <div class="space-6"></div>
  <div class="row">
    <div class="col-xs-12">
      <article class="article">
        <h1>3D运输管理系统实验目的</h1>
        <div class="space-8"></div>
        <p>3D运输管理系统是在虚拟仿真平台环境下，建设、实现并不断完善该课程实验所需的运输管理虚拟仿真实验，提供数字虚拟场景下再现、操作、分析物流企业经营全过程、全要素、全方位认知的数字方案，解决理论教学中物流企业运作流程的抽象、不直观的现实难题。</p>
        <p>以情景模拟与再现为游戏核心，模拟、分析物流企业运营的各个环节，为现代物流企业运营环节提供参考决策和直观形象的认知方式，培养学生的运输管理能力及创业意识，达成效率高、可重复、易再现的实验目的。本实验有利于：理论联系实际；培养综合能力，尤其是创业能力；学科优势互补。</p>
      </article>
    </div>
  </div>

</div>