<link rel="stylesheet" href="/stylesheets/fileUpload/iconfont.css" />
<link rel="stylesheet" href="/stylesheets/fileUpload/fileUpload.css">
<link rel="stylesheet" href="/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">

<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/samples/js/sample.js"></script>

<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
  </ul>
</div>

<div class="page-content">

  <div class="space-6"></div>

  <div class="row">
    <div class="col-xs-12">
      <div>
        <h2 style="text-align: center; color: #4c8fbd">欢迎使用</h2>
        <h1 style="text-align: center; color: #4c8fbd">现代物流3D虚拟仿真实验管理系统</h1>
        <div class="space-6"></div>
        <h4 style="text-align: center; color: #4c8fbd">西安邮电大学现代邮政学院</h4>
      </div>
    </div>
  </div>
</div>