<link rel="stylesheet" href="/stylesheets/fileUpload/iconfont.css" />
<link rel="stylesheet" href="/stylesheets/fileUpload/fileUpload.css">
<link rel="stylesheet" href="/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">

<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/samples/js/sample.js"></script>

<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
  </ul>
</div>

<div class="page-content" >
  <div class="index-header">
    <h1>西安邮电大学现代邮政学院</h1>
  </div>
  <div class="space-16" style="margin-left: 55px; margin-right: 55px; border: 0.5px solid #4092ff"></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="index-left">
        <h1>Welcome</h1>
        <h4>现代物流3D虚拟仿真实验管理系统</h4>
        <div class="space-32"></div>
        <img src="/images/temp.png" alt="">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="index-right">
        <ul class="module">
          <li>
            <a href="/knowledge">
              <img src="/images/knowledge.png" alt="">
              <span>知识点</span>
            </a>
          </li>
          <li>
            <a href="/exercises">
              <img src="/images/exercises.png" alt="">
              <span>习题库</span>
            </a>
          </li>
          <li>
            <a href="/usingResource">
              <img src="/images/resource.png" alt="">
              <span>资源库</span>
            </a>
          </li>
          <li>
            <a href="/assignExperiment">
              <img src="/images/experimentPractice.png" alt="">
              <span>实验练习</span>
            </a>
          </li>
          <li>
            <a href="/experimentReport">
              <img src="/images/experimentReport.png" alt="">
              <span>实验报告</span>
            </a>
          </li>
          <li>
            <a href="/classScheduleOfTeacher">
              <img src="/images/classScheduleOfTeacher.png" alt="">
              <span>教师课表</span>
            </a>
          </li>
          <li>
            <a href="/classSchedule">
              <img src="/images/classSchedule.png" alt="">
              <span>总课表</span>
            </a>
          </li>
          <li>
            <a href="/bookingLaboratory">
              <img src="/images/bookingLaboratory.png" alt="">
              <span>预约实验室</span>
            </a>
          </li>
          <li>
            <a href="/QA">
              <img src="/images/qa.png" alt="">
              <span>在线答疑</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>