<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      3D仓储实验过程
    </li>
    <li class="active">入库调度</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      入库调度
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="timeline-container">
        <div class="timeline-label">
          <span class="label label-primary arrowed-in-right label-lg">
            <b>入库调度流程</b>
          </span>
        </div>

        <div class="timeline-items">
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-home btn btn-primary no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  入库申请单
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-yen btn btn-success no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  货物调度查询
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-user btn btn-danger no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  货架预约
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-truck btn btn-purple no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  运输货物
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-map-marker btn btn-info no-hover"></i>
            </div>
            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  上架
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.timeline-items -->
      </div>
    </div>
  </div>
</div>