<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      3D运输系统认知
    </li>
    <li class="active">运输管理系统介绍</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      运输管理系统介绍
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>


  <div class="space-6"></div>
  <div class="row">
    <div class="col-xs-12">
      <article class="article">
        <h1>3D运输管理系统简介</h1>
        <div class="space-8"></div>
        <p>运输管理作为物流管理的一个核心内容对物流活动进行计划、组织、指挥、协调、控制和监督，使各项物流活动主客体实现最佳的协调与配合，以降低物流成本，提高物流效率和经济效益具有重大的作用。</p>
        <p>运输管理系统，是一种“供应链”分组下的（基于网络的）操作软件。它能通过多种方法和其他相关的操作一起提高物流的管理能力；包括管理装运单位，指定企业内、国内和国外的发货计划，管理运输模型、基准和费用，维护运输数据，生成提单，优化运输计划，选择承运人及服务方式，招标和投标，审计和支付货运账单，处理货损索赔，安排劳力和场所，管理文件（尤其当国际运输时）和管理第三方物流。</p>
      </article>
    </div>
  </div>

</div>