<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      3D运输实验过程
    </li>
    <li class="active">运输实现</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      运输实现
      <small>
        <i class="icon-double-angle-right"></i>
        详细信息
      </small>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="timeline-container">
        <div class="timeline-label">
          <span class="label label-primary arrowed-in-right label-lg">
            <b>运输实现流程</b>
          </span>
        </div>

        <div class="timeline-items">
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-truck btn btn-primary no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  叉车装卸货
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon  icon-comments-alt btn btn-success no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  车辆运输与突发事件
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-inbox btn btn-danger no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  中转站卸货
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-8"></div>
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <i class="timeline-indicator ace-icon icon-anchor btn btn-purple no-hover"></i>
            </div>

            <div class="widget-box transparent">
              <div class="widget-body">
                <div class="widget-main">
                  终点站货物称重过磅
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.timeline-items -->
      </div>
    </div>
  </div>
</div>