.header-img{
  width: 375px;
}
.login-layout{
  background: url("../images/bg4.jpg") no-repeat center center fixed;
  background-size: 100%;
}

.login-layout .widget-box{
  width: 430px;
  background-color: #ffffff;
  margin-top: 140px;
}
.login-layout .widget-box .widget-main{
  background-color: #ffffff;
}
.login-box .toolbar {
  background: #ffffff;
  border-top: none;
}