.alert {
  padding: 7px;
  border: 1px solid transparent;
  border-radius: 0;
  margin-top: 8px;
  margin-bottom: 0;
}
.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}